<div class="m-10 grid place-items-center">
    <form
      [formGroup]="editWorkForm"
      (ngSubmit)="submitEditWorkForm(editWorkForm)"
      class="col-span-6 sm:col-span-4"
    >
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-base font-semibold leading-7 text-gray-900">
            Work Information
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">
            This information will be displayed publicly so be careful what you
            share.
          </p>
  
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label
                for="clientId"
                class="block text-sm font-medium text-gray-700"
                >Client</label
              >
              <select
                id="clientId"
                name="clientId"
                formControlName="clientId"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              >
                <option value="" selected disabled>Select a Client</option>
                <option *ngFor="let client of clients" value="{{ client.id }}">
                  {{ client.name }}
                </option>
              </select>
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    editWorkForm.get('clientId')?.hasError('required') &&
                    editWorkForm.get('clientId')?.touched
                  "
                >
                  Client is required
                </span>
              </p>
            </div>
  
            <div class="col-span-6 sm:col-span-4">
              <label for="title" class="block text-sm font-medium text-gray-700"
                >Title</label
              >
              <input
                type="text"
                name="title"
                id="title"
                formControlName="title"
                autocomplete="title"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    editWorkForm.get('title')?.hasError('required') &&
                    editWorkForm.get('title')?.touched
                  "
                >
                  Title is required
                </span>
                <span *ngIf="editWorkForm.get('title')?.hasError('minlength')">
                  Title must be at least 3 characters long
                </span>
              </p>
            </div>
  
            <div class="col-span-full">
              <label
                for="description"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Description</label
              >
              <div class="mt-2">
                <textarea
                  id="description"
                  name="description"
                  formControlName="description"
                  rows="3"
                  class="block w-full rounded-md px-3 border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6"
                ></textarea>
              </div>
              <p class="mt-3 text-sm leading-6 text-gray-600">
                Write a few sentences describing about the project.
              </p>
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    editWorkForm.get('description')?.hasError('required') &&
                    editWorkForm.get('description')?.touched
                  "
                >
                  Description is required
                </span>
                <span
                  *ngIf="editWorkForm.get('description')?.hasError('minlength')"
                >
                  Description must be at least 7 characters long
                </span>
              </p>
            </div>
  
            <div class="col-span-6 sm:col-span-3">
              <label for="type" class="block text-sm font-medium text-gray-700"
                >Type of the Clothe</label
              >
              <select
                id="type"
                name="type"
                formControlName="type"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              >
              <option value="Suit">Suit</option>
              <option value="Jabador">Jabador</option>
              <option value="Qeftan">Qeftan</option>
              <option value="Jelaba">Jelaba</option>
              </select>
            </div>
  
            <div class="col-span-full">
              <label
                for="keywords"
                class="block text-sm font-medium leading-6 text-gray-900"
                >key Words</label
              >
              <div class="mt-2">
                <textarea
                  id="keywords"
                  name="keywords"
                  formControlName="keywords"
                  rows="3"
                  class="block w-full rounded-md px-3 border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6"
                ></textarea>
              </div>
              <p class="mt-3 text-sm leading-6 text-gray-600">
                Separate the keywords with a comma (,).
              </p>
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    editWorkForm.get('keywords')?.hasError('required') &&
                    editWorkForm.get('keywords')?.touched
                  "
                >
                  Keywords is required
                </span>
                <span *ngIf="editWorkForm.get('keywords')?.hasError('minlength')">
                  Keywords must be at least 5 characters long
                </span>
              </p>
            </div>
          </div>
        </div>
  
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-base font-semibold leading-7 text-gray-900">
            Other Information
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">
            this information contains price and other details
          </p>
  
          <div class="mt-10 grid grid-cols-1 gap-y-8 gap-x-6 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label
                for="price"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Price</label
              >
              <div class="mt-2">
                <input
                  type="number"
                  name="price"
                  formControlName="price"
                  id="price"
                  class="block w-full rounded-md border-0 px-3 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    editWorkForm.get('price')?.hasError('required') &&
                    editWorkForm.get('price')?.touched
                  "
                >
                  Price is required
                </span>
                <span *ngIf="editWorkForm.get('price')?.hasError('minlength')">
                  Price must be at least 1 DH
                </span>
              </p>
            </div>
  
            <div class="sm:col-span-3 flex w-fit">
              <div class="flex items-center gap-x-3 mt-auto mb-2">
                <input
                  id="show_price"
                  name="show_price"
                  type="checkbox"
                  formControlName="show_price"
                  class="h-4 w-4 border-gray-300 px-3 text-indigo-600 focus:ring-indigo-600"
                />
                <label
                  for="show_price"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Show Price
                  <span class="text-xs"
                    >(is {{ editWorkForm.get("show_price")?.value }})</span
                  ></label
                >
              </div>
            </div>
  
            <div class="sm:col-span-3">
              <label
                for="deadline"
                class="block text-sm font-medium leading-6 text-gray-900"
                >DeadLine</label
              >
              <div class="mt-2">
                <input
                  type="date"
                  name="deadline"
                  id="deadline"
                  formControlName="deadline"
                  class="block w-full rounded-md border-0 px-3 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
  
            <div class="sm:col-span-4">
              <div class="flex items-center justify-between">
                <input
                  id="show_to_public"
                  name="show_to_public"
                  type="checkbox"
                  formControlName="show_to_public"
                  (change)="pass_code_change()"
                  class="h-4 w-4 border-gray-300 px-3 mx-5 text-indigo-600 focus:ring-indigo-600"
                />
                <span class="flex-grow flex flex-col">
                  <span
                    class="text-sm font-medium text-gray-900"
                    id="availability-label"
                    >Show Project to Public
                    <span class="text-xs"
                      >(is {{ editWorkForm.get("show_to_public")?.value }})</span
                    ></span
                  >
                  <span
                    class="text-sm text-gray-500"
                    id="availability-description"
                    >Make this project private by adding password to it, or put it
                    public.</span
                  >
                </span>
              </div>
              <input
              *ngIf="!editWorkForm.get('show_to_public')?.value"
                type="text"
                name="visibility_code"
                id="visibility_code"
                placeholder="Visibility Code"
                formControlName="visibility_code"
                class="appearance-none block w-full px-3 py-2 mt-3 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                [ngClass]="{
                  'cursor-not-allowed': editWorkForm.get('show_to_public')?.value
                }"
              />
            </div>
          </div>
        </div>
      </div>
  
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <a
        routerLink="/works"
        type="button"
          class="text-sm font-semibold leading-6 text-gray-900"
        >
          Cancel
        </a>
        <button
        type="submit"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          class="rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Edit Work
        </button>
      </div>
    </form>
  </div>
  