<div class="my-10">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">Projects</h1>
        <p class="mt-2 text-sm text-gray-700">
          A list of all my projects with details about the user and project
          situation.
        </p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <a
          routerLink="/works/add"
          type="button"
          class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
        >
          Add Work
        </a>
      </div>
    </div>

    <div
      class="container mx-auto bg-gray-50 min-h-screen p-8 antialiased mt-10"
    >
      <div>
        <div *ngIf="works.length == 0" class="flex justify-center items-center">
          <div class="text-center">
            <div class="text-2xl font-semibold text-gray-900">
              No Works Found
            </div>
            <div class="text-sm text-gray-700">
              You can add a new work by clicking on the button above.
            </div>
          </div>
        </div>

        <app-work-card 
        *ngFor="let work of works.slice().reverse()"
        [work]="work"
        (workDeleted)="getWorks()"
        ></app-work-card>


      </div>
    </div>
  </div>
</div>
