<div class="m-10">
  <form [formGroup]="addClientForm" (ngSubmit)="addClient(addClientForm)">
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">
              Personal And Contact Information
            </h3>
            <p class="mt-1 text-sm text-gray-600">
              This information is necessary for the tailor to contact you.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium text-gray-700"
                    >Full Name</label
                  >
                  <input
                    type="text"
                    name="name"
                    id="name"
                    formControlName="name"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('name')?.hasError('required') &&
                        addClientForm.get('name')?.touched
                      "
                    >
                      Full Name is required
                    </span>
                    <!-- add error for minlengh 3 -->
                    <span
                      *ngIf="
                        addClientForm.get('name')?.hasError('minlength') &&
                        addClientForm.get('name')?.touched
                      "
                    >
                      Full Name must be at least 3 characters
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="gender"
                    class="block text-sm font-medium text-gray-700"
                    >Gender</label
                  >
                  <select
                    id="gender"
                    name="gender"
                    formControlName="gender"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  >
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('gender')?.hasError('required') &&
                        addClientForm.get('gender')?.touched
                      "
                    >
                      Full gender is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-4">
                  <label
                    for="email-address"
                    class="block text-sm font-medium text-gray-700"
                    >Email address</label
                  >
                  <input
                    type="text"
                    name="email-address"
                    id="email-address"
                    autocomplete="email"
                    formControlName="email"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('email')?.hasError('required') &&
                        addClientForm.get('email')?.touched
                      "
                    >
                      Email is required
                    </span>
                    <!-- add error for email valid -->
                    <span
                      *ngIf="
                        addClientForm.get('email')?.hasError('email') &&
                        addClientForm.get('email')?.touched
                      "
                    >
                      Email is not valid
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-4">
                  <label
                    for="phone"
                    class="block text-sm font-medium text-gray-700"
                    >Phone number</label
                  >
                  <input
                    type="text"
                    name="phone"
                    id="phone"
                    autocomplete="phone"
                    formControlName="phone"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('phone')?.hasError('required') &&
                        addClientForm.get('phone')?.touched
                      "
                    >
                      Phone is required
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
      <div class="py-10">
        <div class="border-t border-gray-200"></div>
      </div>
    </div>

    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">
              Work Details
            </h3>
            <p class="mt-1 text-sm text-gray-600">
              All this information is necessary for the tailor to make your
              clothes, and it will be displaed with the clothes details.
            </p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-6">
                  <label
                    for="measuring-unit"
                    class="block text-sm font-medium text-gray-700"
                    >Measuring Unit</label
                  >
                  <select
                    id="measuring-unit"
                    name="measuring-unit"
                    formControlName="measuringUnit"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  >
                    <option value="cm">Centimeters (CM)</option>
                    <option value="in">Inches (IN)</option>
                    <option value="ft">Feet (FT)</option>
                  </select>
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm
                          .get('measuringUnit')
                          ?.hasError('required') &&
                        addClientForm.get('measuringUnit')?.touched
                      "
                    >
                      Measuring unit is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label
                    for="height"
                    class="block text-sm font-medium text-gray-700"
                    >Height</label
                  >
                  <input
                    type="number"
                    name="height"
                    id="height"
                    formControlName="height"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('height')?.hasError('required') &&
                        addClientForm.get('height')?.touched
                      "
                    >
                      Height is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="arm-length"
                    class="block text-sm font-medium text-gray-700"
                    >Arm Length</label
                  >
                  <input
                    type="number"
                    name="arm-length"
                    id="arm-length"
                    formControlName="armLength"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('armLength')?.hasError('required') &&
                        addClientForm.get('armLength')?.touched
                      "
                    >
                      Arm length is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="leg-length"
                    class="block text-sm font-medium text-gray-700"
                    >Leg Length</label
                  >
                  <input
                    type="number"
                    name="leg-length"
                    id="leg-length"
                    formControlName="legLength"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('legLength')?.hasError('required') &&
                        addClientForm.get('legLength')?.touched
                      "
                    >
                      Leg length is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="waist"
                    class="block text-sm font-medium text-gray-700"
                    >Waist</label
                  >
                  <input
                    type="number"
                    name="waist"
                    id="waist"
                    formControlName="waist"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('waist')?.hasError('required') &&
                        addClientForm.get('waist')?.touched
                      "
                    >
                      Waist is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="chest"
                    class="block text-sm font-medium text-gray-700"
                    >Chest</label
                  >
                  <input
                    type="number"
                    name="chest"
                    id="chest"
                    formControlName="chest"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('chest')?.hasError('required') &&
                        addClientForm.get('chest')?.touched
                      "
                    >
                      Chest is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="hips"
                    class="block text-sm font-medium text-gray-700"
                    >Hips</label
                  >
                  <input
                    type="number"
                    name="hips"
                    id="hips"
                    formControlName="hips"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('hips')?.hasError('required') &&
                        addClientForm.get('hips')?.touched
                      "
                    >
                      Hips is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="neck"
                    class="block text-sm font-medium text-gray-700"
                    >Neck</label
                  >
                  <input
                    type="number"
                    name="neck"
                    id="neck"
                    formControlName="neck"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('neck')?.hasError('required') &&
                        addClientForm.get('neck')?.touched
                      "
                    >
                      Neck is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="shoulder"
                    class="block text-sm font-medium text-gray-700"
                    >Shoulder</label
                  >
                  <input
                    type="number"
                    name="shoulder"
                    id="shoulder"
                    formControlName="shoulder"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('shoulder')?.hasError('required') &&
                        addClientForm.get('shoulder')?.touched
                      "
                    >
                      Shoulder is required
                    </span>
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="biceps"
                    class="block text-sm font-medium text-gray-700"
                    >Biceps</label
                  >
                  <input
                    type="number"
                    name="biceps"
                    id="biceps"
                    formControlName="biceps"
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                  <p class="text-red-500 text-xs">
                    <span
                      *ngIf="
                        addClientForm.get('biceps')?.hasError('required') &&
                        addClientForm.get('biceps')?.touched
                      "
                    >
                      Biceps is required
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 py-3 mt-10 text-right sm:px-6">
      <button
        [type]="addClientForm.valid ? 'submit' : 'button'"
        [disabled]="!addClientForm.valid"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        [ngClass]="{ 'cursor-not-allowed': !addClientForm.valid }"
      >
        Add Client
      </button>
    </div>
  </form>
</div>
