<!--  show alert message for login  -->
<app-form-alert></app-form-alert>
<!--  show loading for login  -->
<div
  *ngIf="loading"
  id="alert-4"
  class="w-18 p-2 z-30 rounded-lg absolute top-16 right-20 flex justify-end items-center border"
  role="alert"
>
  <div role="status">
    <svg
      aria-hidden="true"
      class="w-4 h-4 animate-spin text-blue-800 fill-blue-800"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
  <div class="ml-3 text-sm font-medium text-blue-700 pr-2">Loding</div>
</div>

<div class="w-full min-h-screen bg-indigo-800">
  <div
    class="w-full h-screen grid place-items-center pattern-cross-dots-md text-indigo-700 bg-white rounded-tl-[50px]"
  >
    <div class="w-11/12 md:w-7/12 lg:w-6/12 xl:w-4/12">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <div>
            <h2 class="text-3xl font-bold text-center text-[#1e2762] mt-10">
              Sign Up
            </h2>
            <p class="text-center text-[#1e2762] mt-2">
              Already have an account?
              <a href="#" class="text-blue-500">Sign In</a>
            </p>
          </div>

          <!-- show resigtration response message  -->
          <div class="mt-4">
            <p
            class="text-center mt-2"
              [ngClass]="{'text-red-500': alertColor == 'danger', 'text-green-500': alertColor == 'success'}"
            >
              {{ alertMessage }}
            </p>

          <form
            [formGroup]="registerForm"
            (ngSubmit)="register(registerForm)"
            class="space-y-6"
          >
            <div>
              <label
                for="name"
                class="block text-sm font-medium text-gray-700"
              >
                Full Name
              </label>
              <div class="mt-1">
                <input
                  id="name"
                  name="name"
                  type="text"
                  formControlName="name"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
              </div>
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    registerForm.get('name')?.hasError('required') &&
                    registerForm.get('name')?.touched
                  "
                >
                  Full Name is required
                </span>
                <!-- add error for minlengh 3 -->
                <span
                  *ngIf="
                    registerForm.get('name')?.hasError('minlength') &&
                    registerForm.get('name')?.touched
                  "
                >
                  Full Name must be at least 3 characters
                </span>
              </p>
            </div>

            <div>
              <label
                for="email"
                class="block text-sm font-medium text-gray-700"
              >
                Email address
              </label>
              <div class="mt-1">
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  formControlName="email"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
              </div>
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    registerForm.get('email')?.hasError('required') &&
                    registerForm.get('email')?.touched
                  "
                >
                  Email is required
                </span>
                <!-- add error for minlengh 3 -->
                <span
                  *ngIf="
                    registerForm.get('email')?.hasError('minlength') &&
                    registerForm.get('email')?.touched
                  "
                >
                  Email must be at least 3 characters
                </span>
                <!-- add error for email pattern -->
                <span
                  *ngIf="
                    registerForm.get('email')?.hasError('pattern') &&
                    registerForm.get('email')?.touched
                  "
                >
                  Email must be valid
                </span>
              </p>
            </div>

            <div>
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
              >
                Password
              </label>
              <div class="mt-1">
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="current-password"
                  formControlName="password"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
              </div>
              <p class="text-red-500 text-xs">
                <span
                  *ngIf="
                    registerForm.get('password')?.hasError('required') &&
                    registerForm.get('password')?.touched
                  "
                >
                  Password is required
                </span>
                <!-- add error for minlengh 6 -->
                <span
                  *ngIf="
                    registerForm.get('password')?.hasError('minlength') &&
                    registerForm.get('password')?.touched
                  "
                >
                  Password must be at least 6 characters
                </span>
              </p>
            </div>

            <div>
              <button
              [type]="registerForm.valid ? 'submit' : 'button'"
              [disabled]="!registerForm.valid"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                [ngClass]="{'cursor-not-allowed': !registerForm.valid}"
                >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
