<div class=" flex flex-col items-center m-10">
  <!-- create a head part with title that contains all my clients, and a search bar -->
  <div class="w-full flex flex-col justify-between items-center">
    <div class="w-full sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">My Clients</h1>
        <p class="mt-2 text-sm text-gray-700">
          A list of all my clients with there contact details.
        </p>
      </div>
      <div class="mt-4 sm:mt-0 sm:flex-none">
        <a
          routerLink="/clients/add"
          type="button"
          class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
        >
          Add Client
        </a>
      </div>
    </div>

    <div class="mt-10 mb-20 w-full">
      <div
        *ngIf="clients.length == 0"
        class="min-h-40 flex justify-center items-center mx-auto"
      >
        <div class="text-center">
          <div class="text-2xl font-semibold text-gray-900">
            No Clients Found
          </div>
          <div class="text-sm text-gray-700">
            You can add a new client by clicking on the button above.
          </div>
        </div>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        <li
          *ngFor="let client of clients"
          class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200"
        >
          <div class="w-full flex items-center justify-between p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center justify-between space-x-3">
                <h3 class="text-gray-900 text-sm font-medium truncate">
                  {{ client.name }}
                </h3>
                <span
                  class="flex-shrink-0 inline-block px-2 py-0.5 text-xs font-medium rounded-full"
                  [ngClass]="{'text-blue-800 bg-blue-100': client.gender == 'male', 'text-red-800 bg-red-100': client.gender == 'female'}"
                  >{{ client.gender }}</span
                >
              </div>
              <p class="mt-1 text-gray-500 text-sm truncate">
                Created At: {{ client.createdAt.toString().split('T')[0] }}
              </p>
            </div>
            <span
              class="inline-flex items-center justify-center h-10 w-10 rounded-full bg-gray-500"
            >
              <span class="font-medium leading-none text-white">{{
                client.name[0].toUpperCase() + client.name[1].toUpperCase()
              }}</span>
            </span>
          </div>
          <div>
            <div class="-mt-px flex divide-x divide-gray-200">
              <div class="w-0 flex-1 flex">
                <a
                  href="mailto:{{ client.email }}"
                  class="relative mx-2 w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500"
                >
                  <!-- Heroicon name: solid/mail -->
                  <svg
                    class="w-5 h-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                    />
                    <path
                      d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                    />
                  </svg>
                  <span class="ml-3 truncate">{{ client.email }}</span>
                </a>
              </div>
              <div class="-ml-px w-0 flex-1 flex">
                <a
                  href="tel:{{ client.phone }}"
                  class="relative w-0 flex-1 mx-2 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500"
                >
                  <!-- Heroicon name: solid/phone -->
                  <svg
                    class="w-5 h-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                    />
                  </svg>
                  <span class="ml-3 truncate">{{ client.phone }}</span>
                </a>
              </div>
            </div>
          </div>
        </li>

        <!-- More people... -->
      </ul>
    </div>
  </div>
</div>
